@import "../../styles/colors.scss";
@import "../../styles/devices.scss";

.news__container {
  width: 100%;
  padding: 1.5% 2%;

  @media (min-width: $notebook) {
    width: 50%;
  }

  .news__title__container {
    padding-bottom: 1.25rem;
    border-bottom: 1px solid $LIGHT_GREY;

    .news__title__text {
      margin: 0;
      padding: 0;
      font-size: 1.6rem;
      color: $BLACK;
      font-weight: 700;
    }

    .see_entries__text {
      margin: 0;
      padding: 0;
      font-size: 1.3rem;
      font-weight: 600;
      color: $GREY;
    }
  }
}
