/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
@import "./styles/colors.scss";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  font-weight: 500;
  margin: 0;
  padding: 0;
  background-color: $LIGHT_WHITE;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: $LIGHT_GREY;
  width: 0.9rem;
  height: 0.9rem;
}

::-webkit-scrollbar-thumb {
  background-color: $LIGHT_PINK;
  border-radius: 0.75rem;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}
