@import "../../styles/colors.scss";

.community__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 7.5%;
  color: $BLACK;

  .community__title {
    font-size: 3rem;
    font-weight: 600;
  }

  .community__subtitle {
    margin-top: 1.25rem;
    font-weight: 500;
    font-size: 1.4rem;
  }

  .community__input__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.75rem;
    position: relative;
    width: 37.5%;

    .community__input {
      width: 100%;
      border-radius: 4rem;
      background-color: $WHITE;
      padding: 1.25rem 1.75rem;
      padding-right: 16.5rem;
      font-size: 1.5rem;
      color: $BLACK;
      border: 1px solid $LIGHT_GREY;
      background-color: $WHITE;

      &:focus {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        outline: none;
      }
    }

    .community__subscribe--btn {
      position: absolute;
      background-color: $PINK;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 2.25rem;
      border-radius: 4rem;
      font-weight: 500;
      color: $WHITE;
      right: 0;
      font-size: 1.8rem;
      cursor: pointer;
    }
  }
}
