@import "../../../styles/colors.scss";

.new-post__container {
  cursor: pointer;
  margin-top: 1.25rem;

  .new-post__content {
    margin-top: 2rem;

    .new-post__date {
      color: $GREY;
      padding: 0;
      margin: 0;
      font-weight: 500;
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }

    .new-post__title {
      color: $BLACK;
      padding: 0;
      margin: 0;
      font-weight: 500;
      font-size: 1.6rem;
    }

    .new-post__title--active {
      color: $GREEN;
      padding: 0;
      margin: 0;
      font-weight: 500;
      font-size: 1.6rem;
    }

    .new-post__container-btn--selected {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      .new-post__btn--selected {
        color: $WHITE;
        background-color: $LIGHT_GREEN;
        padding: 1rem 3rem;
        border: 1px solid $GREEN;
        border-radius: 0.75rem;
        font-size: 1.4rem;
        cursor: pointer;
        font-weight: 400;
        margin-top: 1.25rem;
      }
    }
  }
}
