@import "../../styles/colors.scss";

.hero__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
  gap: 5rem;
  padding: 2.5% 10%;
  font-size: 1.8rem;
  background-color: $WHITE;

  @media screen and (max-width: 1024px) {
    .hero__container {
      padding: 0;
    }
  }

  .left-section {
    display: block;

    .navbar__items {
      display: flex;
      margin-bottom: 5rem;
      height: 5rem;
      width: 70%;

      .navbar__inner__container {
        display: flex;
        width: 100%;
        align-items: center;
        margin-left: 8.5rem;
        justify-content: space-between;

        .navbar__links {
          display: flex;
          gap: 7rem;
          align-items: center;
          color: $BLACK;
          cursor: pointer;
        }

        .navbar__link--active {
          background-color: $LIGHT_PINK;
          padding: 0.5rem 1.5rem;
          border-radius: 1rem;
          color: $WHITE;
        }

        .flag {
          margin-left: 17.5rem;
          width: 2.75rem;
          cursor: pointer;
        }
      }
    }

    .logotype {
      height: 100%;
      cursor: pointer;
    }

    .post__image__container {
      width: 100%;
      border-radius: 1rem;

      .post__image {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .right-section {
    width: 30%;

    .search__container {
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 5rem;

      .search {
        height: 50%;
        cursor: pointer;
      }
    }
  }
}
