@import "../../../styles/colors.scss";

.reading-list__container {
  width: 100%;

  .reading-list__title {
    font-weight: 600;
    color: $BLACK;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .reading-list__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    text-decoration: none;
  }
}
