@import "../../styles/colors.scss";

.navbar__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.6rem;
  padding: 2.5% 10%;
  font-size: 1.8rem;
  background-color: $WHITE;

  @media screen and (max-width: 1024px) {
    .navbar__container {
      padding: 0;
    }
  }

  .left-section__container {
    display: block;
    height: 5rem;
    width: 70%;

    .navbar__items--content {
      display: flex;
      height: 100%;

      .navbar__inner__container {
        display: flex;
        width: 100%;
        align-items: center;
        margin-left: 8.5rem;
        justify-content: space-between;

        .navbar__links {
          display: flex;
          gap: 7rem;
          align-items: center;
          color: $BLACK;
          cursor: pointer;
        }

        .navbar__link--active {
          background-color: $LIGHT_PINK;
          padding: 0.5rem 1.5rem;
          border-radius: 1rem;
          color: $WHITE;
        }

        .flag {
          width: 2.75rem;
          cursor: pointer;
        }
      }
    }

    .logotype {
      height: 100%;
      cursor: pointer;
    }
  }

  .right-section__container {
    width: 30%;

    .search__container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 5rem;

      .search {
        height: 50%;
        cursor: pointer;
      }
    }
  }
}
