@import "../../styles/colors.scss";

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 100%;
  padding: 1% 10%;
  color: $BLACK;
  background-color: $WHITE;

  .footer__social--links {
    display: flex;
    gap: 1rem;

    .footer__social--icon {
      width: 2rem;
    }
  }

  .footer__main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: $GREY;
    font-weight: 500;

    .footer__heart--icon {
      width: 1.75rem;
      margin: 0 0.5rem;
    }

    .footer__title--bold {
      font-size: 1.5rem;
      color: $BLACK;
      font-weight: 600;
      margin-left: 0.5rem;
    }
  }

  .footer__copyright {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    color: $GREY;
    font-weight: 500;
  }
}
