$PINK: #ff5480;
$LIGHT_PINK: #ff929f;
$WHITE: #ffffff;
$BLACK: #000000;
$GREY: #9b9b9b;
$LIGHT_GREY: #d8d8d8;
$GREEN: #4e8813;
$LIGHT_GREEN: #9ad880;
$LIGHT_WHITE: #f9f9fb;
$PURPLE: #4d47c3;
$LIGHT_BLUE: #0f91d2;
$BLUE: #122f82;
