@import "../../styles/colors.scss";
@import "../../styles/devices.scss";

.post-page__container {
  width: 100%;
  padding: 0 10% 2.5% 10%;

  .post-page__pathname {
    color: $GREY;
    font-weight: 500;
    margin: 1.75rem 0;

    .post-page__pathname--bold {
      font-weight: 600;
      color: $BLACK;
    }
  }

  .post-page__header {
    padding-top: 9rem;
    background-color: $WHITE;

    @media (min-width: $notebook) {
      padding-top: 0rem;
    }
  }

  .post-page__cover {
    width: 50%;
    object-fit: cover;
  }
}
