@import "../../styles/colors.scss";
@import "../../styles/devices.scss";

.post-page__container {
  width: 100%;

  .post-page__header {
    padding-top: 9rem;
    background-color: $WHITE;

    @media (min-width: $notebook) {
      padding-top: 0rem;
    }
  }

  .post-page__cover {
    width: 50%;
    object-fit: cover;
  }
}
